---
layout: archive
title: "Outreach Projects"
permalink: /outreach/
author_profile: true
---
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174576010-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-174576010-1');
</script>
</head>

{% include base_path %}

<p><b>History</b></p>

<p>I really like coloring. So much so that, in 2013, I drew my first coloring booklet. Since then, I have distributed thousands of physical copies of my books in public schools across the country. I plan on continuing to use what I have learned throughout my own journey to use art to inspire the next generation of scientists, communicate ideas in my own research to a larger audience, and be the representation I wished for as kid.</p>

{% for post in site.outreach %}
  {% include archive-single.html %}
{% endfor %}
